@model CartModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int i = 0;
}
@*
    @if (Model.CartItems.Count == 0)
    {
        <div class="row">
            <div class="col-12">
                <div class="alert alert-warning">
                    Sepetinizde ürün yok.
                </div>
            </div>
        </div>
    }
*@

<div class="site-section">
    <div class="container">

        @if (User.Identity.IsAuthenticated)
        {
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="site-blocks-table">
                        <table class="table-hover table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CartItems)
                                {
                                    item.ProductIndex = i;
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="~/Images/@item.ImageUrl" alt="Image" class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h5 text-black">@item.Name</h2>
                                        </td>
                                        <td>@item.Price</td>
                                        <td>
                                            <form asp-controller="cart" asp-action="EditCart" method="post">
                                                <input type="hidden" name="ProductIndex" value="@item.ProductIndex" />
                                                <div class="input-group mb-3" style="max-width: 120px;">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                                    </div>
                                                    <input min="1" step="1" value="@item.Quantity" type="text" name="quantity" class="form-control text-center " placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-primary btn-sm">Güncelle</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </td>
                                        <td>@(item.Quantity*item.Price)</td>
                                        <td>
                                            <form asp-controller="cart" asp-action="DeleteFromCart" method="post">
                                                <input type="hidden" name="productId" value="@item.ProductId" />
                                                <button class="btn btn-primary btn-sm">
                                                    <i class="fa fa-times fa-fw"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>

                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="site-blocks-table">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.cart == null)
                                {

                                }
                                else
                                {
                                    @foreach (var item in ViewBag.cart)
                                    {
                                        item.ProductIndex = i;
                                        <tr>
                                            <td class="product-thumbnail">
                                                <img src="~/Images/@item.Product.ImageUrl" alt="Image" class="img-fluid">
                                            </td>
                                            <td class="product-name">
                                                <h2 class="h5 text-black">@item.Product.Name</h2>
                                            </td>
                                            <td>@item.Product.Price</td>
                                            <td>
                                                <form asp-controller="cart" asp-action="EditCart" method="post">
                                                    <input type="hidden" name="ProductIndex" value="@item.ProductIndex" />
                                                    <div class="input-group mb-3" style="max-width: 120px;">
                                                        <div class="input-group-prepend">
                                                            <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                                        </div>
                                                        <input min="1" step="1" value="@item.Quantity" type="text" name="quantity" class="form-control text-center" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                                        </div>
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-primary btn-sm">Güncelle</button>
                                                        </div>
                                                    </div>
                                                </form>

                                            </td>
                                            <td>@(item.Quantity*item.Product.Price)</td>
                                            <td>
                                                <form asp-controller="cart" asp-action="DeleteFromCart" method="post">
                                                    <input type="hidden" name="productId" value="@item.Product.Id" />
                                                    <button class="btn btn-primary btn-sm">
                                                        <i class="fa fa-times fa-fw"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }


        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <a href="/home/index" class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Subtotal</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">@Model.TotalPrice().ToString("c")</strong>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Total</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">@Model.TotalPrice().ToString("c")</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <a class="btn btn-primary btn-lg py-3 btn-block" href="/checkout">Proceed To Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <a href="/home/index" class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Subtotal</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">@ViewBag.total</strong>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Total</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">@ViewBag.total</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <a class="btn btn-primary btn-lg py-3 btn-block" href="/checkout">Proceed To Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }


    </div>
</div>



